.hero-bg {

    background-color: orange;
}

.sec2-bg {
    background-color: orange;
    background-position: top;
}


.text-shadow {
    text-shadow: 2px 2px 4px rgb(20, 13, 210);
}

.mybg {
    background-color: orange;
}

.ft-bg {
    background-color: #214bbe;
}


h1 {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;



}

h2 {

    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    color: white;
}

h3 {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    color: white;

}

h4 {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #214bbe;
}

p {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h5 {

    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: white
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 10px;

}

.sl-img {
    width: 90%;
    height: 500px;
    flex-shrink: 0;
    scroll-snap-align: start;
    border-radius: 8px;
}